{% extends 'base.html' %}

{% block extra_head %}
  <title> Leadership </title>
{% endblock %}

{% block content %}
<style>
  .card-title a {
    color: black;
  }
  .card-title a:hover {
    color: var(--fleming-red);
  }
</style>

<div class="container" style="padding-top:150px">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="../static/Home/img/mark.jpg" alt="Mark">
        <div class="card-block" style="margin:auto; padding-top: 10px">
          <h4 class="card-title">
            <a href="mailto:markburleso@caltech.edu">Mark Burleson</a>
            </h4>
          <h6 class="card-title">President</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="../static/Home/img/sakthi.jpg" alt="Sakthi">
        <div class="card-block" style="margin:auto; padding-top: 10px">
          <h4 class="card-title">
            <a href="mailto:svetrive@caltech.edu">Sakthi Vetrivel</a>
          </h4>
          <h6 class="card-title">Vice President</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="../static/Home/img/henry_edit.jpg" alt="Henry">
        <div class="card-block" style="margin:auto; padding-top: 10px">
          <h4 class="card-title">
            <a href="mailto:hsteiner@caltech.edu">Henry Steiner</a>
          </h4>
          <h6 class="card-title">Secretary</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="../static/Home/img/eshan.jpg" alt="Eshan">
        <div class="card-block" style="margin:auto; padding-top: 10px">
          <h4 class="card-title">
            <a href="mailto:egovil@caltech.edu">Eshan Govil</a>
          </h4>
          <h6 class="card-title">Treasurer</h6>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

