{% extends 'base.html' %}

{% block extra_head %}
  <title> Leadership </title>
{% endblock %}

{% block content %}
<div class="container" style="padding-top:150px">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="../static/Home/img/vinci.jpg" alt="Vinci">
        <div class="card-block" style="margin:auto">
          <h4 class="card-title">Vinci Chen</h4>
          <h6 class="card-title">President</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="../static/Home/img/caroline.jpg" alt="Caroline">
        <div class="card-block">
          <h4 class="card-title">Caroline Atyeo</h4>
          <h6 class="card-title">Vice President</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="../static/Home/img/ayaana.jpg" alt="Ayaana">
        <div class="card-block">
          <h4 class="card-title">Ayaana Sikora</h4>
          <h6 class="card-title">Secretary</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="../static/Home/img/kyle.jpg" alt="Kyle">
        <div class="card-block">
          <h4 class="card-title">Kyle Martin</h4>
          <h6 class="card-title">Treasurer</h6>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

