{% extends 'base.html' %}

{% block extra_head %}
  <title> Profile </title>

  <link rel="stylesheet" type="text/css" href="/static/Profile/css/main.css">
  
{% endblock %}

{% block content %}

  <div id="wrapper">
  <div id="content">
    <div id="card">
      <div id="front">
        <div id="top-pic"></div>
        <div id="avatar" style="background-image: url(https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/12249820_10204489556673533_2982586850108329237_n.jpg?oh=43fcf350735a3d2ef5438be872924f38&oe=5B07EFF3);"></div>
        <div id="info-box">
          <div class="info">
            <h1>Ayaana Sikora</h1>
            <h2>Computer Science</h2>
          </div>
        </div>
        <div id="social-bar">
          <a href="http://donut.caltech.edu/directory/?state=details&inum=9662" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="javascript:void" class="more-info">
            <i class="fa fa-user"></i>
          </a>
        </div>
      </div>

      <div id="back">
        <div class="back-info">
          {% if edit %}
            <form action="/profile/{{data[6]}}/update", method="POST">
              First name: <br>
              <input type="text" name="firstname" value={{data[0]}}> <br>
              Last name: <br>
              <input type="text" name="lastname" value={{data[1]}}> <br>
              Year: <br>
              <select name="year">
                <option value="opt1">2018</option>
                <option value="opt2">2019</option>
                <option value="opt3">2020</option>
                <option value="opt4">2021</option>
              </select> <br>
              Major: <br>
              <input type="text" name="major" value={{data[3]}}><br>
              Room Location: <br>
              <input type="text" name="location" value={{data[4]}}><br>
              Email: <br>
              <input type="text" name="email" value={{data[5]}}><br>
              <input type="submit" value="Submit">
            </form> 
          {% else %}
            <p>Hello, I am Ayaana</p>
          {% endif %}
        <div id="social-bar">
          <a href="http://donut.caltech.edu/directory/?state=details&inum=9662" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="javascript:void" class="more-info">
            <i class="fa fa-undo"></i>
          </a>
        </div>
      </div>
    </div>
    <div id="background">
      <div id="background-image"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra %}
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="/static/Profile/js/main.js"></script>
{% endblock %}