{% extends 'base.html' %}

{% block extra_head %}
  <title> Profile </title>

  <link rel="stylesheet" type="text/css" href="/static/Profile/css/main.css">
  
{% endblock %}

{% block content %}

  <div id="wrapper">
  <div id="content">
    <div id="card">
      <div id="front">
        <div id="top-pic"></div>
        <div id="avatar" style="background-image: url(https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/12249820_10204489556673533_2982586850108329237_n.jpg?oh=43fcf350735a3d2ef5438be872924f38&oe=5B07EFF3);"></div>
        <div id="info-box">
          <div class="info">
            <h1>Ayaana Sikora</h1>
            <h2>Computer Science</h2>
          </div>
        </div>
        <div id="social-bar">
          <a href="http://donut.caltech.edu/directory/?state=details&inum=9662" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="javascript:void" class="more-info">
            <i class="fa fa-user"></i>
          </a>
        </div>
      </div>

      <div id="back">
        <div class="back-info">
          <p>Hello, I am Ayaana</p>
        </div>
        <div id="social-bar">
          <a href="http://donut.caltech.edu/directory/?state=details&inum=9662" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="javascript:void" class="more-info">
            <i class="fa fa-undo"></i>
          </a>
        </div>
      </div>
    </div>
    <div id="background">
      <div id="background-image"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra %}
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="/static/Profile/js/main.js"></script>
{% endblock %}