{% extends 'base.html' %}

{% block content %}

<nav>
	<div class="row">

  		<div class="col-sm-2">
  			<div id="sidebar">
		  		<div id="rotation_navigation">
		  			<p><a href = "/rotation">Rotation Home </a></p>
		  			<p onclick = "openList('dinList');">Dinner</p>
					<ul id="dinList" style="display: none;">
					  <li><a href = "/attendance/dinnerA">Dinner A</a></li>
					  <li><a href = "/attendance/dinnerB">Dinner B</a></li>
					  <li><a href = "/attendance/dinnerC">Dinner C</a></li>
					  <li><a href = "/attendance/linnerD">Linner D</a></li>
					  <li><a href = "/attendance/dinnerE">Dinner E</a></li>
					  <li><a href = "/attendance/linnerF">Linner F</a></li>
					  <li><a href = "/attendance/dinnerG">Dinner G</a></li>
					  <li><a href = "/attendance/dinnerH">Dinner H</a></li>
					</ul>
					<p onclick = "openList('desList');">Dessert</p>
					<ul id="desList" style="display: none;">
					  <li><a href = "/attendance/dessert1">Dessert 1</a></li>
					  <li><a href = "/attendance/dessert2">Dessert 2</a></li>
					  <li><a href = "/attendance/dessert3">Dessert 3</a></li>
					  <li><a href = "/attendance/dessert4">Dessert 4</a></li>
					  <li><a href = "/attendance/dessert5">Dessert 5</a></li>
					  <li><a href = "/attendance/dessert6">Dessert 6</a></li>
					  <li><a href = "/attendance/dessert7">Dessert 7</a></li>
					</ul>
					<p>Quicksort </p>
				</div>
			</div>
  		</div>

  		<div class="col-sm-10" id="body">
  			{% block rotationBody %}
  			{% endblock %}
  		</div>

	</div>
</nav>

{% endblock %}

{% block extra %}

<script type="text/javascript">
function openList(idVal) {
    var list = document.getElementById(idVal);

    if (list.style.display == "block"){
        list.style.display = "none";
    }else{
        list.style.display = "block";
    }
}
</script>

<style>

  body {
    margin: 140px 10px 100px 100px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #colored {
    max-width: 900px;
    margin: 0 auto;
    background-color: #000000;
  }

</style>

{% endblock %}