<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" conetent="">
    <meta name="author" content="">

    <title>Fleming Calendar</title>

    <link href='/static/Calendar/fullcalendar.min.css' rel='stylesheet' />
    <link href='/static/Calendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />

        <!-- Bootstrap core CSS -->
    <link href="/static/Home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/Home/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/Home/css/grayscale.css" rel="stylesheet">

  </head>

  <body id="page-top">

       <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Fleming Hovse</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/leadership">Leadership</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/calendar">Calendar</a>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
            {% if session['logged_in'] %}
              <a href="{{ url_for('logout') }}" class="nav-link js-scroll-trigger">Log Out</a>
            {% else %}
              <a href="{{ url_for('do_admin_login') }}" class="nav-link js-scroll-trigger">Log In</a>
            {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <script src='/static/Calendar/lib/moment.min.js'></script>
    <script src='/static/Calendar/lib/jquery.min.js'></script>
    <script src='/static/Calendar/fullcalendar.min.js'></script>
    <script>

      $(document).ready(function() {

        $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay,listWeek'
          },
          defaultDate: '2017-12-12',
          navLinks: true, // can click day/week names to navigate views
          editable: true,
          eventLimit: true, // allow "more" link when too many events
          events: [
            {
              title: 'All Day Event',
              start: '2017-12-01',
            },
            {
              title: 'Long Event',
              start: '2017-12-07',
              end: '2017-12-10'
            },
            {
              id: 999,
              title: 'Repeating Event',
              start: '2017-12-09T16:00:00'
            },
            {
              id: 999,
              title: 'Repeating Event',
              start: '2017-12-16T16:00:00'
            },
            {
              title: 'Conference',
              start: '2017-12-11',
              end: '2017-12-13'
            },
            {
              title: 'Meeting',
              start: '2017-12-12T10:30:00',
              end: '2017-12-12T12:30:00'
            },
            {
              title: 'Lunch',
              start: '2017-12-12T12:00:00'
            },
            {
              title: 'Meeting',
              start: '2017-12-12T14:30:00'
            },
            {
              title: 'Happy Hour',
              start: '2017-12-12T17:30:00'
            },
            {
              title: 'Dinner',
              start: '2017-12-12T20:00:00'
            },
            {
              title: 'Birthday Party',
              start: '2017-12-13T07:00:00'
            },
            {
              title: 'Click for Google',
              url: 'http://google.com/',
              start: '2017-12-28'
            }
          ]
        });

      });

    </script>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

</style>
</head>
<body>

  <div id='calendar'></div>

</body>
</html>
