<!DOCTYPE html>

{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}

<html lang="en">
<head>
	<title>Fleming House</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/util.css">
	<link rel="stylesheet" type="text/css" href="/static/newBod.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/static/groupPhoto2.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>

				<form class="login100-form validate-form" action="/login" method="POST">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>

					{% if error %}
      				<p class="error-text flex-sb-m w-full p-b-30">Error: {{ error }}
    				{% endif %}

					<div class="flex-sb-m w-full p-b-30 fs-10">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<input type="submit" value="Log in" class="login100-form-btn">
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>

{% endif %}
{% endblock %}